html, body {
    height: 100%;
}

p, a, button {
    font-family: input-serif, serif;
    font-weight: 700;
    font-style: normal;
}

h1, h2, h3, h4, h5, ::placeholder {
    font-family: titling-gothic-fb-wide, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.navbar {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 999;
}

.active {
    background-color: #ff0000;
    border-radius: 0!important;
}

.nav-item {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}

#splash {
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='11.7' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: scroll;
}

#masthead {
    min-height: 30rem;
    position: relative;
    width: 100%;
    padding-top: 10rem;
    padding-bottom: 8rem;
}

@media (min-width: 992px) {
    #masthead {
        height: 100vh;
    }
}


#splash-heading {
    color: #fff;
    font-size: 5rem;
    line-height: 1;
    text-shadow: 5px 5px rgba(0, 0, 0, 0.1);
}

#splash p {
    font-size: 1rem;
}

.btn-learn-more {
    background-color: #ff0000;
    border-radius: 0!important;
    color: #fff;
    border: solid 2px #ff0000;
    transition: all .3s ease-in-out;
}

.btn-learn-more:hover {
    background-color: #b90000;
    border: solid 2px #b90000;
    color: #fff;
}

.btn-guests {
    background-color: transparent;
    color: #fff;
    border: solid 2px #fff;
    border-radius: 0!important;
    transition: all .2s ease-in-out;
}

.btn-guests:hover {
    background-color: #fff;
    color: #000;
}

#about {
    background-color: #000000;
    height: 100vh;
    min-height: 100%;
}

#about h1 {
    font-size: 8rem;
    color: #ff0000;
}

#about-sub {
    font-size: 1rem;
    line-height: 1.5;
    color: #fff;
}

.card {
    background-color: transparent;
    border: solid 1px #fff;
    color: #fff;
    border-radius: 0;
}

.card-title {
    font-size: 1.2rem;
    white-space: nowrap;
}

.col-md-4 {
    padding: 0!important;
}

#guests {
    min-height: 100%;
    background-color: #ff0000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23262626' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
}


#guests h1 {
    font-size: 8rem;
    color: #fff;
}

#contact {
    background-color: #000;
}

#contact h1 {
    font-size: 8rem;
    color: #ff0000;
}

.form-control {
    background-color: transparent;
    border: solid 2px #ff0000;
    border-radius: 0rem;
    color: #fff;
}

.form-control:focus {
    background-color: transparent;
    color: #fff;
    border: solid 2px #ff0000;
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 0,.25);
}

.btn-submit {
    background-color: #ff0000;
    border: 0;
    border-radius: 0;
    font-family: titling-gothic-fb-wide, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #fff;

}

#footer {
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='11.7' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: scroll;
}
