html, body {
    height: 100%;
}

p, a, button, li {
    font-family: input-serif, serif;
    font-weight: 700;
    font-style: normal;
}

h1, h2, h3, h4, h5, ::placeholder {
    font-family: titling-gothic-fb-wide, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.navbar {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 999;
}

.navbar-toggler-icon {
    color: #fff;
}

.active {
    background-color: #ff0000;
    border-radius: 0!important;
}

.nav-link {
    background-color: transparent;
    transition: background-color .1s ease-in-out;
}

.nav-link {
    font-family: titling-gothic-fb-wide, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.nav-link:hover {
    background-color: #ff0000;
}

.nav-item {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#splash {
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='11.7' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: scroll;
}

#masthead {
    min-height: 30rem;
    position: relative;
    width: 100%;
    padding-top: 12rem;
    padding-bottom: 8rem;
}

@media (min-width: 992px) {
    #masthead {
        min-height: 100vh;
    }
}


#splash-heading {
    color: #fff;
    font-size: 5rem;
    line-height: 1;
    text-shadow: 5px 5px rgba(0, 0, 0, 0.1);
}

#splash p {
    font-size: 1rem;
}

.btn-learn-more {
    background-color: #ff0000;
    border-radius: 0!important;
    color: #fff;
    border: solid 3px #000;
    transition: all .3s ease-in-out;
    font-family: titling-gothic-fb-wide, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.btn-learn-more:hover {
    background-color: #b90000;
    color: #fff;
}

.btn-guests {
    background-color: #fff;
    border: solid 3px #000;
    border-radius: 0!important;
    transition: all .2s ease-in-out;
    font-family: titling-gothic-fb-wide, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.btn-guests:hover {
    background-color: #bbb;
    color: #000;
}

#about {
    background-color: #000000;
    min-height: 100%;
}

#about-sub {
    font-size: 1.5rem;
    line-height: 1.5;
    color: #fff;
}

.btn-tickets {
    background-color: #ff0000;
    border-radius: 0;
    font-family: titling-gothic-fb-wide, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #fff;
    font-size: 24px;
    border-left: solid 2px #fff;
    border-right: solid 2px #fff;
    border-bottom: solid 2px #fff;
}

.btn-tickets:hover {
    background-color: #b90000;
    color: #fff;
}

.card {
    background-color: transparent;
    color: #fff;
    border-radius: 0;
    border: 0;
}

.card-title {
}

.col-md-4 {
    padding: 0!important;
}

#clockdiv{
    color: #ff0000;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 56px;
    font-family: titling-gothic-fb-wide, sans-serif;
    font-weight: 700;
    font-style: normal;
    width: 100%;
}

#clockdiv > div{
    display: block;
    float: left;
    margin: 0;
    border: solid 2px #fff;
    width: 100%;
}

#clockdiv div > span{
    padding: 100px;
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='11.7' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: scroll;
    width: 100%;
    display: inline-block;
    font-size: 56px;
    /* position: absolute;
    height: 0;
    width: 0; */
}

.smalltext{
    padding-top: 5px;
    font-size: 24px;
    background-color: #343a40;
    border-top: solid 2px #fff;
}

#countdown-circle {
    position: absolute;
    transform: 
        translate(270%, 50%)
        rotate(-11deg)
        scale(0.80);
}

#guests {
    min-height: 100%;
    background-color: #ff0000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23262626' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
}


#guests h1 {
    font-size: 8rem;
    color: #fff;
}

.card-icon {
    background-color: #000;
    color: #fff;
    width: 100%;
    height: 100%;
}

.btn-schedule {
    background-color: #ff0000;
    border-radius: 0;
    font-family: titling-gothic-fb-wide, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #fff;
    font-size: 24px;
    border-left: solid 2px #000;
    border-right: solid 2px #000;
    border-bottom: solid 2px #000;
}

.btn-schedule:hover {
    background-color: #b90000;
    color: #fff;
}

#tickets {
    background-color: #fff;
}

.border-thick {
    border: solid 2px #000!important;
}

.list-unstyled li {
    font-size: 0.75rem;
}

.card-header {
    background-color: #ff0000;
    border-radius: 0!important;
    text-align: center;  
    border-bottom: solid 2px #000!important; 
}

.btn-buy {
    background-color: #ff0000;
    border-radius: 0;
    color: #fff;
    font-family: titling-gothic-fb-wide, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.btn-buy:hover {
    background-color: #b90000;
    color: #fff;
}

#contact {
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='11.7' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: scroll;
}

#contact h1 {
    font-size: 8rem;
    color: #ff0000;
}

.form-control {
    background-color: #fff;
    border: solid 2px #ff0000;
    border-radius: 0rem;
    color: #fff;
}

.form-group {
    margin-bottom: 0;
}

.form-control-lg {
    height: calc(2rem + 3rem + 2px);
}

.form-control:focus {
    background-color: #fff;
    color: #121212;
    border: solid 2px #ff0000;
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 0,.25);
    font-family: titling-gothic-fb-wide, sans-serif;
    font-weight: 700;
    font-style: normal;

}

.btn-submit {
    background-color: #ff0000;
    border: 0;
    border-radius: 0;
    font-family: titling-gothic-fb-wide, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #fff;
}

.btn-submit:hover {
    background-color: #b90000;
    color: #fff;
}

#footer {
    background-color: #000000;
}

/* Portrait Phones */
@media (max-width: 575.98px) {
    .btn-buy {
        bottom: 0;
        position: absolute;
        right: 0;
    }

}

/* Landscape Phones */
@media (max-width: 767.98px) {

}

/* Tablets */
@media (max-width: 991.98px) {
    #about-sub {
        font-size: 1.3rem;
        text-align: center!important;
    }

    .about-us-cards-desktop {
        display: none;
        visibility: hidden;
    }

    .about-us-cards-mobile {
        display: inline-block;
    }

    .card-title {
        white-space: normal;
    }


    .contact-form {
        width: 100%!important;
    }
}

/* Desktops */
@media (max-width: 1199.98px) {
}